body {
    font-family: Arial, sans-serif;
    background-color: #F0F0F0;
}

.container {
    width: auto;
    display: flex;
}

.column {
    flex: 1;
    background-color: #E0E9F0;
    box-sizing: border-box;
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
}

#left_column {
    width: 50%;
}

#right_column {
    width: 50%;
}
