<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <title>Best practice plots</title>
</head>

<body>
  <div class="container">
    <div class="column" id="left_column">
      <h2>LEFT COL</h2>
      <script src="{{ url_for('static', path='/bar-plot.js') }}"></script>
    </div>

    <div class="column" id="right_column">
      <h2>RIGHT COL</h2>
      <script src="{{ url_for('static', path='/scatter-plot.js') }}"></script>
    </div>

  </div>
</body>
</html>