<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <title>Best practice plots</title>
</head>

<body>
  <div class="container">
    <div class="column" id="left_column">
      <h1>Post-It Peel Skill Level</h1>
      <script src="{{ url_for('static', path='/bar-plot.js') }}"></script>
      <script>
        // try to encapsulate in firstBuild function
        displayBarPlot();
        addEventListener("resize", displayBarPlot);
      </script>
    </div>

    <div class="column" id="right_column">
      <h1>Coffee Consumption vs. Flamingo Enthusiasm Level</h1>
      <script src="{{ url_for('static', path='/scatter-plot.js') }}"></script>
      <script>
        displayScatterPlot();
        addEventListener("resize", displayScatterPlot);
      </script>
    </div>

  </div>
</body>
</html>